.container{
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 16px;
}

.iconWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: lightgray;
    border-radius: 50%;
    color: gray;
    flex-shrink: 0;
}

.info{
    flex: 1;
    margin-left: 16px;
}

.info h3{
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: black;

}

.info p{
    margin: 0;
    font-size: 14px;
    color: lightgray;
}