/* Mesmos estilos de Associados.module.css */
.page {
    max-width: var(--content-max-width);
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.header {
    margin-bottom: var(--spacing-8);
}

.title {
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-bold);
    color: var(--color-gray-900);
    margin-bottom: var(--spacing-2);
}

.subtitle {
    font-size: var(--font-size-base);
    color: var(--color-gray-600);
    margin: 0;
}

.placeholder {
    background-color: var(--color-white);
    border-radius: var(--border-radius-lg);
    padding: var(--spacing-16);
    text-align: center;
    box-shadow: var(--shadow-sm);
    border: 2px dashed var(--color-gray-200);
}

.placeholderIcon {
    color: var(--color-gray-300);
    margin-bottom: var(--spacing-6);
}

.placeholderTitle {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
    color: var(--color-gray-700);
    margin-bottom: var(--spacing-2);
}

.placeholderText {
    font-size: var(--font-size-base);
    color: var(--color-gray-500);
    margin-bottom: var(--spacing-4);
}

.placeholderHint {
    font-size: var(--font-size-sm);
    color: var(--color-gray-400);
    margin: 0;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


.select {
  height: 50px;
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: var(--color-gray-100);
  font-size: 1rem;
}

.actionsBox {
    margin-top: var(--spacing-8);
    padding-top: var(--spacing-6);
    border-top: 1px solid var(--color-gray-200);

    display: flex;
    justify-content: flex-end;
    gap: var(--spacing-2);
}

.headerActions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: var(--spacing-6);
}

.deButton {
    background-color: #dc2626;
    color: #ffffff;
}

.deButton:hover {
    background-color: #b91c1c !important;
}